<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>hello</title>
    </head>
    <body>
        <form method="post">
            adınız?<br>
            <input type="text" name="firstname">
        </form>        
    </body>
</html>
