<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>hello</title>
    </head>
    <body>
        <form  action="/test/formdata" method="post">
            adınız?<br>
            <input type="text" name="firstname"/>
            <input type="number" name="number"/>
            <input type="submit" />
        </form>        
    </body>
</html>
