<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>hello</title>
        <link href="/Static/site.css" rel="stylesheet" />
    </head>
    <body>
        <form action="/test/htmlformdata3" method="post">

            <input type="text"   name="Person.Name" value="" /><br />
            <input type="number" name="Person.Age" value="" /><br />
            <input type="email"  name="Person.Mail" value="" /><br />

            <input type="text" name="Person.Children[0].Name" value="" /><br />
            <input type="number" name="Person.Children[0].Age" value="" /><br />
            <input type="email" name="Person.Children[0].Mail" value="" /><br />

            <input type="text" name="Person.Children[1].Name" value="" /><br />
            <input type="number" name="Person.Children[1].Age" value="" /><br />
            <input type="email" name="Person.Children[1].Mail" value="" /><br />

            <input type="submit" />

        </form>
    </body>
</html>
