@using AttendanceTracker.Models

@model Person

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>hello</title>
    <link href="/Static/site.css" rel="stylesheet" />
</head>
<body>

    <ul>
        <li>@Model.Name</li>
        <li>@Model.Age</li>
    </ul>

</body>
</html>
