@using AttendanceTracker.Models
@{
    
    var person = (Person) ViewBag.Person; 
    
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>hello</title>
    <link href="/Static/site.css" rel="stylesheet" />
</head>
<body>

    <ul>
        <li> @person.Name </li>
        <li> @person.Age </li>
    </ul>

</body>
</html>
