<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>hello</title>
        <link href="/Static/site.css" rel="stylesheet" />
    </head>
    <body>
        <form action="/test/htmlformdataviewselection" method="post">


            <input type="text" name="metin" value="" /><br />
            <br />

            <input type="submit" name="ilet" value="gönder"/>

        </form>
    </body>
</html>
