<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>hello</title>
        <link href="/Static/site.css" rel="stylesheet" />
    </head>
    <body>
        <form action="/test/htmlformdata2" method="post">

            <input type="hidden"   name="id" value="1234" /><br />

            <input type="text"     name="metin"   value="" /><br />
            <input type="number"   name="sayi"    value="" /><br />
            <input type="tel"      name="telefon" value="" /><br />
            <br />

            <input type="email"    name="posta"  value="" /><br />
            <br />

            <input type="datetime" name="tarihsaat" value="" /><br />
            <br />

            <input type="range" name="duzey" value="33" min="11" max="99" /><br />


            <input type="checkbox" name="bir" value="1" /> BİR <br/>
            <input type="checkbox" name="iki" value="2" /> İKİ <br />
            <input type="checkbox" name="uc"  value="3" checked="checked" /> ÜÇ <br />
            <br />

            <input type="radio" name="teksecim" value="a" > AA <br />
            <input type="radio" name="teksecim" value="b" > BB <br/> 
            <input type="radio" name="teksecim" value="c" checked="checked"> CC <br/>
            <br />

            <input type="submit" name="ilet" value="gönder"/>

        </form>
    </body>
</html>
