<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>hello</title>
        <link href="/Static/site.css" rel="stylesheet" />
    </head>
    <body>
        <form action="/test/htmlformdata3" method="post">

            <input type="text"   name="Name" value="" /><br />
            <input type="number" name="Age"  value="" /><br />
            <input type="email"  name="Mail" value="" /><br />

            <input type="submit" />

        </form>
    </body>
</html>
