<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>hello</title>
    <link href="/Static/site.css" rel="stylesheet" />
</head>
<body>
    <form action="/test/htmlformdata4" method="post">

        <input type="text"   name="people[0].Name" value="" /><br />
        <input type="number" name="people[0].Age" value="" /><br />
        <input type="email" name="people[0].Mail" value="" /><br />
        <br />

        <input type="text" name="people[1].Name" value="" /><br />
        <input type="number" name="people[1].Age" value="" /><br />
        <input type="email" name="people[1].Mail" value="" /><br />
        <br />


        <input type="submit" />

    </form>
</body>
</html>
