<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>hello</title>
    <link href="/Static/site.css" rel="stylesheet" />
</head>
<body>
    <form action="/test/htmlformdata5" method="post">

        <input type="text"   name="person.Name" value="" /><br />
        <input type="number" name="person.Age" value="" /><br />
        <input type="email"  name="person.Mail" value="" /><br />
        <br />

        <input type="text" name="address.street" value="" /><br />
        <input type="number" name="address.zipcode" value="" /><br />
        <br />

        <input type="submit" />
    </form>

    <form action="/test/htmlformdata" method="post">

        <input type="text"   name="name" /><br />
        <input type="number" name="age"  /><br />
        <input type="email"  name="mail" /><br />
        <br />

        <input type="submit" />

    </form>

</body>
</html>
