<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>hello</title>
        <link href="/Static/site.css" rel="stylesheet" />
    </head>
    <body>
        <form action="/test/htmlformdata" method="post">

            <input type="hidden"   name="form-1234" value="" /><br />

            <input type="text"     name="metin"   value="" /><br />
            <input type="password" name="parola" value="" /><br />
            <input type="number"   name="sayi"   value="" /><br />
            <input type="tel"      name="telefon" value="" /><br />

            <input type="search"   name="ara"    value="" /><br />
            <input type="email"    name="posta"  value="" /><br />

            <input type="range" name="duzey" value="33" min="11" max="99" /><br />

            <input type="checkbox" name="bir" value="1" />BİR<br/>
            <input type="checkbox" name="iki" value="2" />İKİ<br />
            <input type="checkbox" name="uc"  value="3" checked="checked" />ÜÇ<br />
            <br />

            <input type="radio" name="teksecim" value="a" > AA <br />
            <input type="radio" name="teksecim" value="b" > BB <br/> 
            <input type="radio" name="teksecim" value="c" checked="checked"> CC <br/>
            <br />

            <input type="color" name="renk" value="#ff0000" /><br/>
             
            <input type="date"     name="tarih"     value="" /><br/>
            <input type="datetime" name="tarihsaat" value="" /><br/>
            <input type="month"    name="ay"        value="" /><br />
            
            <input type="file"  name="dosya"  value="" /><br/>
            <input type="image" name="gorsel" value="" /><br/>

            <input type="reset"  name="sil"  value="temizle" />
            <input type="button" name="tik"  value="tıkla" />
            <input type="submit" name="ilet" value="gönder"/>

        </form>
    </body>
</html>
