<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>bye</title>
</head>
<body>
    <p>İşlem başarız.</p>
    <img src="/static/sad.png" alt="somurt" />

</body>
</html>
